# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
go.sum
gin
lagou/lagou
.DS_Store

weibo/Weibo.app/Contents/MacOS
weibo/Weibo.app/Contents/Resources
weibo/weibo

baidu/Baidu.app/Contents/MacOS
baidu/Baidu.app/Contents/Resources
baidu/baidu